/*Sets global styling*/
* {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1.5px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

body {
  padding-top: 100px;
  background-color: #f8f1ee;
  margin: 0;
  width: 100%;
}

html {
  height: 100%; 
  margin: 0px; 
  padding: 0px;
}

nav{
  box-shadow: 5px 5px 5px#C8C8C8;
  background-color: white;
} 

.nav-a{
  font-size: 1 em;
}

#logo {
  width: 60%;
} 

.padding{
  padding-left: 5%;
}

.container1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.orange{
  background-color: orange;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
  
}

.img1{
  padding-bottom: 5px;
  
}

.img2{
  padding-left: 5%;
}


/*Nabil Styling*/

/*Section stylings*/
/*Section 1, 3, 5*/

.section1,
.section3,
.section5 {
  background: #f8f1ee;
}

.button {  /*remove gray shadow*/
  background: #F15B22;
  border: none;
  border-radius: 12px;
  width: 50%;
  margin-left: 5%;
  color: white;
  font-size: 0.8em;
  padding: 2%;
}

.section2,
.section4,
.section6 {
  background: #F15B22;
  display: flex;
  justify-content: center;
}
#section1-p > h1{
  font-size: 5em;
  font-weight: bold;
}

#section1-p > p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 200%;
  padding-top: 10%;
  padding-bottom: 10%; 
  margin-left: 10%;
  color: #000000;
}

.form > p {
  font-weight: bold;
  font-style: italic;
  font-size: 300%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #000000;
}

footer {
  position: relative;
  height: 35%;
  bottom: 0;
  background: white;
  border-top: none;
  padding: 5% 5% 0 5%; /*top right bottom left*/
}

.row{
  margin-right: 0;
}

#info {
  margin-left: 5px;
}

.bottom {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  text-align: right;
  padding-bottom: 5%;
  /*move to right*/

}

.bottom>li {
  padding: 1%;  /*top right bottom left*/
  margin-right: 20%;
}

.bottom_links, .bottom_links:hover{
  color: black;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#shootLogo {
  width: 15%;
  margin-top: 1%;
  margin-bottom: 5%;
}

#copyright {
  color: #505050;
  position: relative;
  padding: 0;
  margin: 0;
}

#copyright span{
  position: absolute;
  bottom: 0;
}
/*Icons*/

a>i {
  font-size: 150%;
  color: black;
  margin-right: 10px;
}

.fa-twitter:hover {
  color: #00aced;
  transition: 0.5s;
}

.fa-instagram:hover {
  color: #bc2a8d;
  transition: 0.5s;
}

.fa-medium:hover {
  color: #66CDAA;
  transition: 0.5s;
}

/*Input section*/

*:focus {
  outline: none;
}

.form {
  margin-top: 3%;
  margin-bottom: 5%;
}

input {
  text-align: center;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #000000;
  border-radius: 20px;
  background: white;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  #section1-p > h1{
    font-size: 1.6em;
    font-weight: bold;
  }

  .img1{
    padding-right: 5%;
  }

  .button {
    width: 90%;
    padding: none;
    font-size: 0.6em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  #section1-p > h1{
    font-size: 2.8em;
    font-weight: bold;
  }

  .img1{
    padding-right: 5%;
  }

  .button {
    width: 80%;
    font-size: 0.7em;
 
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  #section1-p > h1{
    font-size: 3.6em;
    font-weight: bold;
  }

  .button {
    width: 80%; 
    padding: none; 
    font-size: 0.8em;
  }

}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  #section1-p > h1{
    font-size: 3.6em;
    font-weight: bold;
  }

  .button {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  #section1-p > h1{
    font-size: 3.6em;
    font-weight: bold;
  }

  .button {
    width: 50%;
  }
}